@import "./variables";
@import "./media_queries";

.footer {
	grid-area: footer;
	background: $colorFooter;
	color: $blanco;
	font-size: .85em; 
	padding: .5em;
	display: flex;
	flex-flow: row wrap;
    width: 100%;

    .footer__item {
        color: $blanco;
        margin: 1.5em .5em;
        font-size: 1.5em;
        transform: scale(1);
        
        i {
            margin: 2em 0.75em;
            transform: scale(1);
            transition: all .85s ease-in-out;

            @include desktops {
                font-size: 1rem;
                margin: 2em .5em;
            }

            @include tablets {
                font-size: 1rem;
                margin: 2em 2.5em;
            }

            @include phones {
                font-size: 0.85rem;
                margin: 2em 1em;
            }
        }
    }

    .footer__item--copyR {
        font-size: 1rem;
        margin: 2em auto;

        @include tablets {
            font-size: 0.95em;
            margin: 1.75em auto;
        }

        @include phones {
            font-size: 0.85em;
            margin: 1.75em auto;
        }

    }

    .footer__item--medio {
        font-size: .8rem;
        margin: 1em auto;

        @include tablets {
            display: none;
        }
    }

    .footer__logo {
        max-width: 6em;
        width: 6em;
        height: 6em;
        margin: 2em auto;
        object-fit: contain;
    }


    .footer__item:hover i { 
        transform: scale(1.6);
        color: $colorHoverLink;
       
    }
}