@import "./variables";
@import "./media_queries";

/*---------- FOOTER ----------*/
.footer {
	grid-area: footer;
	background: $colorFooter;
	color: $blanco;
	font-size: .85em; 
	padding: .5em;
	display: flex;
	flex-flow: row wrap;
    width: 100%;

    .footer__titulo {
        color: $blanco;
        @include tablets {
            font-size: .85rem;
        }
    }

    .footer__item {
        color: $blanco;
        margin: 2em;
        font-size: 1.5em;
        transform: scale(1);
        
        @include tablets {
            font-size: 1rem;
            margin: auto 1.25em;    
        }

        i {
            margin: 1em 0.5em;
            transform: scale(1);
            transition: all .85s ease-in-out;

            @include phones {
                font-size: 1.25rem;
                margin: .5em;
            }
        }
    }

    .footer__item--copyR {
        font-size: 1rem;
    }


    .footer__item:hover i { 
        transform: scale(1.6);
        color: $colorHoverLink;
       
    }
}