@import "./variables";
@import "./media_queries";

/* ---------- HEADER ----------*/
.header {
	grid-area: header;
	padding: 0.5em;
	background: $colorHeader;
	display: flex;
	position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
	width: 100%;

    nav ul li:hover a {
        border-bottom: 1px solid $blanco;
        margin-bottom: -1px;
    }

    nav ul li ul {
            background-image: linear-gradient(135deg, rgba(33,44,114,1) 0%, rgba(34,57,140,1) 40%, rgba(33,69,155,1) 100%);
        
        li {
            background-image: transparent;
            
            a {
                color: $blanco; 
                border-bottom: none;
            }
        }
    }

    @include largeDesktops {
        font-size: 16px;
            
            & i {
                display: block;
                margin-bottom: 10px;
            }
    }        

    @include desktops {
        & i {
			display: block;
        }

		.nav-item--oculto {
				display: none;
		}

    }

    @include tablets {
        font-size: 13px;

            .nav-item--oculto {
                display: block;
            }

            & i {
                display: inline-flex;
            }
        
        #btnResponsive {
            color: $blanco;
            background-color: $blanco;
        }

        #btnResponsive:hover {
            box-shadow: 0 0 2em 6px $colorHoverLink;
        }

        nav ul li:hover a {
            border-bottom: none;
            margin-bottom: 0;
            border-right: 1px solid $blanco;
            margin-left: 1px;
        }
        
    }
	
    .header__logo {
        max-width: 5em;
        min-width: 3em;
        min-height: 3em;
        margin: auto;
        color: $blanco;
        transition: all 1s ease-in-out;

        img {
            height: auto;
        }

        @include tablets {
            max-width: 4em;
            min-width: 2em;
            min-height: 2em;
        }
    }
    
    .header__logo:hover {
        transform: scale(1.2);
    }

}




