@import "./variables";
@import "./media_queries";

.header {
	grid-area: header;
	padding: 0.6em 1.5em;
	background: $colorHeader;
	display: flex;
	position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
	width: 100%;

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        background-image: linear-gradient(180deg, transparent 90%, $colorHoverLink 100%);
        border-bottom: 1px solid $blanco;
        margin-bottom: -1px;
    }

    .navbar-nav .dropdown-menu {
        background-image: linear-gradient(135deg, rgba(33,44,114,1) 0%, rgba(34,57,140,1) 40%, rgba(33,69,155,1) 100%);
    
        .dropdown-item {
            color: $blanco;
            font-weight: 300;
                        
        }
        .dropdown-item:hover {
            background-color: transparent;
            background-image: linear-gradient(45deg, transparent 40%, $colorHoverLink 100%);
            color: $blanco;
            border-bottom: 1px solid $blanco;
            margin-bottom: -1px;            
        }    
    }

    @include largeDesktops {
        font-size: 16px;
            
            & i {
                display: block;
                margin-bottom: 10px;
            }
    }        

    @include desktops {
        & i {
			display: block;
        }

		.nav-item--oculto {
				display: none;
		}
    }

    @include tablets {
        font-size: 14px;

            .nav-item--oculto {
                display: block;
            }

            & i {
                display: inline-flex;
            }
        
        #btnResponsive {
            color: $blanco;
            background-color: $blanco;
            box-shadow: 2px 2px 4px 1px #444;
            margin-right: 0.5em;
        }

        #btnResponsive:hover {
            box-shadow: 0 0 10px 2px $colorHoverLink;
        }

        .navbar-nav .dropdown-menu {
            width: 16em;
            margin: 0 auto;
        }

        .navbar-nav .dropdown-menu .dropdown-item:hover {
            border-bottom: none;
            margin-bottom: 0;
            border-right: 1px solid $blanco;
            margin-right: -1px;
            background-image: linear-gradient(45deg, transparent 40%, $colorHoverLink 100%);
        }

        .navbar-light .navbar-nav .nav-link:hover {
            border-bottom: none;
            margin-bottom: 0;
            border-right: 1px solid $blanco;
            margin-right: -1px;
            background-image: linear-gradient(45deg, transparent 40%, $colorHoverLink 100%);
        }
    }
	
    .header__logo {
        max-width: 4em;
        min-width: 2.6em;
        min-height: 2.6em;
        margin: auto;
        color: $blanco;
        transition: all 1s ease-in-out;

        img {
            height: auto;
        }

        @include tablets {
            max-width: 3em;
            min-width: 1.8em;
            min-height: 1.8em;
        }
    }
    
    .header__logo:hover {
        transform: scale(1.2);
    }
}
