$blanco: #ffffff;
$negro: #000000;


$background: ( 
    /*$hoja: $fondo*/
    index: linear-gradient(to right bottom, #ffffff, #f8f8f8, #f2f2f2, #ebebeb, #e5e5e5, #dedede, #d7d7d8, #d0d0d1, #c7c7c8, #bdbebf, #b4b5b6, #abacad),
    productos: linear-gradient(to right, #757F9A, #D7DDE8),
    tecno: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%),
    clientes: linear-gradient(0deg, #283048 0%, #859398 100%),
    nosotros: linear-gradient(90deg, #304352 0%, #d7d2cc 100%),
    contacto: url("https://picsum.photos/id/115/2000/1600/?blur=5")
);

$colorHoverLink:  #eb6ee1bd;

$colorHeader: linear-gradient(135deg, rgba(33,44,114,1) 0%, rgba(34,57,140,1) 40%, rgba(33,69,155,1) 100%); 

$colorFooter: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgb(54, 54, 54) 20%, rgb(36, 36, 36) 75%); 

$colorHero: linear-gradient(180deg, rgba(6,34,91,0.77) 0%, rgba(24,46,116,0.78) 24%, rgba(24,48,150,0.8) 69%);

$colorSidebar: linear-gradient(150deg, rgba(6,28,71,1) 25%, rgba(24,46,116,1) 60%, rgba(56,80,156,1) 85%);

$colorHeaderCard: linear-gradient(to right, #89253e  0%, #3a6186  100%);

$colorBtnCard: linear-gradient(to right, #3a6186 0%, #89253e  61%, #3a6186  100%);

$colorFondoContactForm: linear-gradient(0deg, #061c47, #6b204c,#213c92);

$colorFondoWorkForm: linear-gradient(to right bottom, #6b204c, #692258, #642566, #5a2b73, #4b3281, #534490, #5b559f, #6567ad, #8d8ac1, #b3b0d6, #d9d7ea, #ffffff);

$colorBtnAccordion: linear-gradient(to left, #e9e9e985 0%, #89253ec2  15%, #3a6186e7  100%);

$background404: linear-gradient(to right bottom, #ffffff, #f8f8f8, #f2f2f2, #ebebeb, #e5e5e5, #dedede, #d7d7d8, #d0d0d1, #c7c7c8, #bdbebf, #b4b5b6, #abacad);

$colorBtn404: linear-gradient(to right, #25abe0 0%, #dedede  51%, #25abe0  100%)